# Dependências do Node.js
node_modules/
package-lock.json

# Arquivos de configuração específicos do editor
.vscode/
.idea/
*.swp
*.swo

# Arquivos de build (se houver)
dist/
build/
coverage/

# Outros
.env
*.local
